---
import { authTClient, tclient } from "../auth/trpc-client";
import TopicList from "../components/topic-list.astro";
import Layout from "../layouts/Layout.astro";
const cookies = Astro.cookies;
const topics = await authTClient(cookies.get("sbat").value).topics.topics.query(
  {}
);
---

<Layout title="المواضيع المقترحة">
  <main class="max-w-xl mx-auto p-6">
    <h1 class="text-[#e2caf3] text-xl">المواضيع المقترحة</h1>
    <div class="mt-4">
      {topics != null ? <TopicList items={topics} /> : null}
    </div>
  </main>
</Layout>
